<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hotel</title>
  </head>
  <body>
    <% if (user) { %>
        <p>Welcome <%= user.username %> to our Booking Platform</p>
        <ul>
        <% Hotel.forEach(function(Hotel) { %>
        <li><%= Hotel.title %></li>
        <% }); %>
        </ul>
        <br />
        <form action="/logout" method="post">
          <button type="submit">Logout</button>
        </form>

    <% } else { %>
        <p>Please <a href="/login">login</a> to view Hotel/p>
    <% } %>
  </body>
</html>
