<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Login Page</title>
	</head>
	<body>
		<form action="/login" method="post">
			<!-- user input-->
			<p>Username</p>
			<input type="text" name="email" placeholder="Username" required />
			<br /><br />
			<p>Password</p>
			<input
				type="password"
				name="password"
				placeholder="Password"
				required /><br /><br />
			<!-- submit button -->
			<button type="submit">Login</button>

			<br /><br />
			<a href="/signup">Signup</a>
		</form>
	</body>

	<script>
		fetch("/login", {
			method: "POST",
			body: JSON.stringify({
				email: "test@gmail.com",
				password: "test1234",
			}),
		})
			.then((res) => {
				console.log(res);
				return res.json();
			})
			.then((data) => console.log(data));
	</script>
</html>
